<p>Username: @ViewBag.Username</p>

@if (User.Identity.IsAuthenticated)
{
    <p>You are authenticated!</p>
    <p>
        <a asp-action="SignOut" asp-controller="Account">Sign out</a>
    </p>
}
else
{
    <p>You are not authenticated!</p>
    <p>
        <a asp-action="SignIn" asp-controller="Account">Sign in</a>
    </p>
    <p>
        <a asp-action="Register" asp-controller="Account">Registration</a>
    </p>
}