@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choose Registration or authorization  </h1>
    <a href="~/Birth/Create/">Registration</a>
    <a href="~/Birth/Create/">Sign IN</a>
</div>
