@using kurs2_bloknot.Models
<h3>Список Пользователей</h3>
<table>
    <tr>
        <td>Имя</td>
        
       


        <td></td>
    </tr>
    @foreach (var p in ViewBag.AllUsers)
    {
        <tr>
            <td>@p.Name</td>
           
           

        </tr>
    }
</table>